# Old files #
testOld.*

# Temporary files #
*.swp
*.swo

# Logs and databases #
*.log
*.sql
*.sqlite

# Compiled #
*.class
*.dll
*.exe
*.o
*.so
############

# Packages #
*.iso
*.jar
*.rar
*.tar
*.zip
############
